/* .grid-container {
    display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  }
  
  .grid-item {
    background-color: #f0f0f0;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    flex-grow: 1;
  max-width: 200px
  } */


  .paystack-btn {
    background-color: #4CAF50; 
    color: white; 
    padding: 10px 20px; 
    font-size: 16px; 
    border: none;
    border-radius: 5px; 
    cursor: pointer; 
    font-weight: 800;
    transition: background-color 0.3s ease; 
    width:100%
  }
  
  .paystack-btn:hover {
    background-color: #45a049; 
  }
  
  .paid{
    background-color: #4CAF50; 
  }
  